/*DiQuick v1.4.21 www.diquick.com*/
/*-----------------------elements------------------------*/
/**--html--**/
html {font-size:14px;}
body {background-color:#fff;color:#333;font-size:1rem;font-family:"Helvetica Neue","Helvetica","Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei","sans-serif";}
*,*:before,*:after {box-sizing:border-box;}
blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul {margin:0;padding:0;}
ol,ul {list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
img,form,fieldset {outline:none;border:0;}
input,textarea,select {outline:none;}
::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder {color:#999;}
button,input[type="submit"],input[type="reset"] {outline:none;border:0;-webkit-appearance:none;}
a {outline:none;color:inherit;text-decoration:none;cursor:pointer;}
/**--text--**/
p,.p {margin-bottom:1.5rem;line-height:1.75;}
small {font-size:1rem;opacity:.5;}
h1,h2,h3,h4,h5,h6 {margin-bottom:.5rem;font-weight:normal;line-height:1.5;}
h1 {font-size:2.5rem;}
h2 {font-size:2.25rem;}
h3 {font-size:2rem;}
h4 {font-size:1.75rem;}
h5 {font-size:1.5rem;}
h6 {font-size:1.25rem;}
ul.basic,ol.basic,dl.basic {margin-bottom:1.5rem;}
ul.basic,ul.basic ul,ol.basic,ol.basic ol {padding-left:1.25rem;}
ul.basic ul,ol.basic ol {margin:.5rem 0;}
ul.basic {list-style:disc;}
ul.basic ul {list-style:circle;}
ol.basic,ol.basic ol {list-style:decimal;}
dl.basic dt {font-size:1.5rem;}
ul.basic li,ol.basic li,dl.basic dd {font-size:1rem;}
ul.basic li,ol.basic li,dl.basic dt,dl.basic dd {margin-bottom:.375rem;line-height:1.5;}
address {margin-bottom:1.5rem;font-style:normal;line-height:1.75;}
blockquote {margin-bottom:1.5rem;padding:.5rem 1.5rem;border-left:.375rem solid rgba(0,0,0,.1);line-height:1.75;}
/**--img--**/
img {max-width:100%;vertical-align:middle;}
img.circle {border-radius:100%;}
img.radius {border-radius:.375rem;}
img.border {padding:.75rem;border:1px solid rgba(0,0,0,.1);}
/**--attr--**/
.show {display:block;}
.hide {display:none;}
.hidei {display:none !important;}
.mt {margin-top:auto !important;}
.mt0 {margin-top:0 !important;}
.mt1 {margin-top:.25rem !important;}
.mt2 {margin-top:.375rem !important;}
.mt3 {margin-top:.5rem !important;}
.mt4 {margin-top:.75rem !important;}
.mt5 {margin-top:1rem !important;}
.mt6 {margin-top:1.25rem !important;}
.mt7 {margin-top:1.5rem !important;}
.mt8 {margin-top:1.75rem !important;}
.mt9 {margin-top:2rem !important;}
.mr {margin-right:auto !important;}
.mr0 {margin-right:0 !important;}
.mr1 {margin-right:.25rem !important;}
.mr2 {margin-right:.375rem !important;}
.mr3 {margin-right:.5rem !important;}
.mr4 {margin-right:.75rem !important;}
.mr5 {margin-right:1rem !important;}
.mr6 {margin-right:1.25rem !important;}
.mr7 {margin-right:1.5rem !important;}
.mr8 {margin-right:1.75rem !important;}
.mr9 {margin-right:2rem !important;}
.mb {margin-bottom:auto !important;}
.mb0 {margin-bottom:0 !important;}
.mb1 {margin-bottom:.25rem !important;}
.mb2 {margin-bottom:.375rem !important;}
.mb3 {margin-bottom:.5rem !important;}
.mb4 {margin-bottom:.75rem !important;}
.mb5 {margin-bottom:1rem !important;}
.mb6 {margin-bottom:1.25rem !important;}
.mb7 {margin-bottom:1.5rem !important;}
.mb8 {margin-bottom:1.75rem !important;}
.mb9 {margin-bottom:2rem !important;}
.ml {margin-left:auto !important;}
.ml0 {margin-left:0 !important;}
.ml1 {margin-left:.25rem !important;}
.ml2 {margin-left:.375rem !important;}
.ml3 {margin-left:.5rem !important;}
.ml4 {margin-left:.75rem !important;}
.ml5 {margin-left:1rem !important;}
.ml6 {margin-left:1.25rem !important;}
.ml7 {margin-left:1.5rem !important;}
.ml8 {margin-left:1.75rem !important;}
.ml9 {margin-left:2rem !important;}
.pt0 {padding-top:0 !important;}
.pt1 {padding-top:.25rem !important;}
.pt2 {padding-top:.375rem !important;}
.pt3 {padding-top:.5rem !important;}
.pt4 {padding-top:.75rem !important;}
.pt5 {padding-top:1rem !important;}
.pt6 {padding-top:1.25rem !important;}
.pt7 {padding-top:1.5rem !important;}
.pt8 {padding-top:1.75rem !important;}
.pt9 {padding-top:2rem !important;}
.pr0 {padding-right:0 !important;}
.pr1 {padding-right:.25rem !important;}
.pr2 {padding-right:.375rem !important;}
.pr3 {padding-right:.5rem !important;}
.pr4 {padding-right:.75rem !important;}
.pr5 {padding-right:1rem !important;}
.pr6 {padding-right:1.25rem !important;}
.pr7 {padding-right:1.5rem !important;}
.pr8 {padding-right:1.75rem !important;}
.pr9 {padding-right:2rem !important;}
.pb0 {padding-bottom:0 !important;}
.pb1 {padding-bottom:.25rem !important;}
.pb2 {padding-bottom:.375rem !important;}
.pb3 {padding-bottom:.5rem !important;}
.pb4 {padding-bottom:.75rem !important;}
.pb5 {padding-bottom:1rem !important;}
.pb6 {padding-bottom:1.25rem !important;}
.pb7 {padding-bottom:1.5rem !important;}
.pb8 {padding-bottom:1.75rem !important;}
.pb9 {padding-bottom:2rem !important;}
.pl0 {padding-left:0 !important;}
.pl1 {padding-left:.25rem !important;}
.pl2 {padding-left:.375rem !important;}
.pl3 {padding-left:.5rem !important;}
.pl4 {padding-left:.75rem !important;}
.pl5 {padding-left:1rem !important;}
.pl6 {padding-left:1.25rem !important;}
.pl7 {padding-left:1.5rem !important;}
.pl8 {padding-left:1.75rem !important;}
.pl9 {padding-left:2rem !important;}
.tl {text-align:left !important;}
.tr {text-align:right !important;}
.tc {text-align:center !important;}
.del {text-decoration:line-through !important;}
.ins {text-decoration:underline !important;}
.capitalize {text-transform:capitalize !important;}
.uppercase {text-transform:uppercase !important;}
.lowercase {text-transform:lowercase !important;}
.b {font-weight:bold !important;}
.i {font-style:italic !important;}
.fs1 {font-size:.875rem !important;}
.fs2 {font-size:1rem !important;}
.fs3 {font-size:1.125rem !important;}
.fs4 {font-size:1.25rem !important;}
.fs5 {font-size:1.5rem !important;}
.fs6 {font-size:1.75rem !important;}
.fs7 {font-size:2rem !important;}
.fs8 {font-size:2.25rem !important;}
.fs9 {font-size:2.5rem !important;}
.lh100 {line-height:1 !important;}
.lh125 {line-height:1.25 !important;}
.lh150 {line-height:1.5 !important;}
.lh175 {line-height:1.75 !important;}
.lh200 {line-height:2 !important;}
.c-white {color:#fff !important;}
.c-gray {color:#999 !important;}
.c-black {color:#333 !important;}
.c-red {color:#d22020 !important;}
.c-orange {color:#ff6a13 !important;}
.c-yellow {color:#ffd400 !important;}
.c-tan {color:#d8c69d !important;}
.c-brown {color:#905b35 !important;}
.c-marron {color:#752438 !important;}
.c-lime {color:#a6e93c !important;}
.c-green {color:#269c35 !important;}
.c-forest {color:#224e35 !important;}
.c-lightblue {color:#4ecff7 !important;}
.c-blue {color:#2077d2 !important;}
.c-navy {color:#1c406d !important;}
.c-pink {color:#fd6298 !important;}
.c-magenta {color:#ec2292 !important;}
.c-purple {color:#852dd6 !important;}
.bg-white {background-color:#fff !important;}
.bg-gray {background-color:#999 !important;}
.bg-black {background-color:#333 !important;}
.bg-red {background-color:#d22020 !important;}
.bg-orange {background-color:#ff6a13 !important;}
.bg-yellow {background-color:#ffd400 !important;}
.bg-tan {background-color:#d8c69d !important;}
.bg-brown {background-color:#905b35 !important;}
.bg-marron {background-color:#752438 !important;}
.bg-lime {background-color:#a6e93c !important;}
.bg-green {background-color:#269c35 !important;}
.bg-forest {background-color:#224e35 !important;}
.bg-lightblue {background-color:#4ecff7 !important;}
.bg-blue {background-color:#2077d2 !important;}
.bg-navy {background-color:#1c406d !important;}
.bg-pink {background-color:#fd6298 !important;}
.bg-magenta {background-color:#ec2292 !important;}
.bg-purple {background-color:#852dd6 !important;}
/*-----------------------layout------------------------*/
/**--base--**/
.wrapper,.header,.main,.footer,.shell {position:relative;clear:both;}
.shell {margin:0 auto;max-width:91rem;}
@media screen and (max-width:91rem) {
.shell {padding-right:1.5rem;padding-left:1.5rem;}
}
/**--box--**/
.box {display:flex;flex-wrap:wrap;}
.box.reverse {flex-flow:row-reverse wrap-reverse;}
.box.x-start {justify-content:flex-start;}
.box.x-center {justify-content:center;}
.box.x-end {justify-content:flex-end;}
.box.x-between {justify-content:space-between;}
.box.x-around {justify-content:space-around;}
.box.y-start {align-items:flex-start;}
.box.y-center {align-items:center;}
.box.y-end {align-items:flex-end;}
.box>.grid {flex:auto;}
.box>.grid10 {flex-basis:10%;max-width:10%;}
.box>.grid15 {flex-basis:15%;max-width:15%;}
.box>.grid20 {flex-basis:20%;max-width:20%;}
.box>.grid25 {flex-basis:25%;max-width:25%;}
.box>.grid30 {flex-basis:30%;max-width:30%;}
.box>.grid33 {flex-basis:33.33339%;max-width:33.33339%;}
.box>.grid35 {flex-basis:35%;max-width:35%;}
.box>.grid40 {flex-basis:40%;max-width:40%;}
.box>.grid45 {flex-basis:45%;max-width:45%;}
.box>.grid50 {flex-basis:50%;max-width:50%;}
.box>.grid55 {flex-basis:55%;max-width:55%;}
.box>.grid60 {flex-basis:60%;max-width:60%;}
.box>.grid65 {flex-basis:65%;max-width:65%;}
.box>.grid66 {flex-basis:66.6669%;max-width:66.66669%;}
.box>.grid70 {flex-basis:70%;max-width:70%;}
.box>.grid75 {flex-basis:75%;max-width:75%;}
.box>.grid80 {flex-basis:80%;max-width:80%;}
.box>.grid85 {flex-basis:85%;max-width:85%;}
.box>.grid90 {flex-basis:90%;max-width:90%;}
.box>.grid100 {flex-basis:100%;max-width:100%;}
.box>[class^="grid"].plr,.box>[class*="grid"].plr {padding-right:.75rem;padding-left:.75rem;}
@media screen and (max-width:1200px) {
.box>.grid-m10 {flex-basis:10%;max-width:10%;}
.box>.grid-m15 {flex-basis:15%;max-width:15%;}
.box>.grid-m20 {flex-basis:20%;max-width:20%;}
.box>.grid-m25 {flex-basis:25%;max-width:25%;}
.box>.grid-m30 {flex-basis:30%;max-width:30%;}
.box>.grid-m33 {flex-basis:33.33339%;max-width:33.33339%;}
.box>.grid-m35 {flex-basis:35%;max-width:35%;}
.box>.grid-m40 {flex-basis:40%;max-width:40%;}
.box>.grid-m45 {flex-basis:45%;max-width:45%;}
.box>.grid-m50 {flex-basis:50%;max-width:50%;}
.box>.grid-m55 {flex-basis:55%;max-width:55%;}
.box>.grid-m60 {flex-basis:60%;max-width:60%;}
.box>.grid-m65 {flex-basis:65%;max-width:65%;}
.box>.grid-m66 {flex-basis:66.6669%;max-width:66.66669%;}
.box>.grid-m70 {flex-basis:70%;max-width:70%;}
.box>.grid-m75 {flex-basis:75%;max-width:75%;}
.box>.grid-m80 {flex-basis:80%;max-width:80%;}
.box>.grid-m85 {flex-basis:85%;max-width:85%;}
.box>.grid-m90 {flex-basis:90%;max-width:90%;}
.box>.grid-m100 {flex-basis:100%;max-width:100%;}
}
@media screen and (max-width:750px) {
.box>.grid-s10 {flex-basis:10%;max-width:10%;}
.box>.grid-s15 {flex-basis:15%;max-width:15%;}
.box>.grid-s20 {flex-basis:20%;max-width:20%;}
.box>.grid-s25 {flex-basis:25%;max-width:25%;}
.box>.grid-s30 {flex-basis:30%;max-width:30%;}
.box>.grid-s33 {flex-basis:33.33339%;max-width:33.33339%;}
.box>.grid-s35 {flex-basis:35%;max-width:35%;}
.box>.grid-s40 {flex-basis:40%;max-width:40%;}
.box>.grid-s45 {flex-basis:45%;max-width:45%;}
.box>.grid-s50 {flex-basis:50%;max-width:50%;}
.box>.grid-s55 {flex-basis:55%;max-width:55%;}
.box>.grid-s60 {flex-basis:60%;max-width:60%;}
.box>.grid-s65 {flex-basis:65%;max-width:65%;}
.box>.grid-s66 {flex-basis:66.6669%;max-width:66.66669%;}
.box>.grid-s70 {flex-basis:70%;max-width:70%;}
.box>.grid-s75 {flex-basis:75%;max-width:75%;}
.box>.grid-s80 {flex-basis:80%;max-width:80%;}
.box>.grid-s85 {flex-basis:85%;max-width:85%;}
.box>.grid-s90 {flex-basis:90%;max-width:90%;}
.box>.grid-s100 {flex-basis:100%;max-width:100%;}
}
.box>.order1 {order:-1;}
.box>.order2 {order:2;}
.box>.order3 {order:3;}
.box>.order4 {order:4;}
.box>.order5 {order:5;}
.box>.order6 {order:6;}
.box>.order7 {order:7;}
.box>.order8 {order:8;}
.box>.order9 {order:9;}
.box>.order10 {order:10;}
.box>.order11 {order:11;}
.box>.order12 {order:12;}
/**--box-array--**/
ul.box-array {display:flex;flex-wrap:wrap;}
ul.box-array.reverse {flex-flow:row-reverse wrap-reverse;}
ul.box-array.plr {padding-right:0;padding-left:0;}
ul.box-array.plr>li {padding-right:.75rem;padding-left:.75rem;}
ul.box-array.list1>li {flex-basis:100%;max-width:100%;}
ul.box-array.list2>li {flex-basis:50%;max-width:50%;}
ul.box-array.list3>li {flex-basis:33.33339%;max-width:33.33339%;}
ul.box-array.list4>li {flex-basis:25%;max-width:25%;}
ul.box-array.list5>li {flex-basis:20%;max-width:20%;}
ul.box-array.list6>li {flex-basis:16.66669%;max-width:16.66669%;}
ul.box-array.list7>li {flex-basis:14.28572%;max-width:14.28572%;}
ul.box-array.list8>li {flex-basis:12.5%;max-width:12.5%;}
ul.box-array.list9>li {flex-basis:11.11119%;max-width:11.11119%;}
ul.box-array.list10>li {flex-basis:10%;max-width:10%;}
ul.box-array.list11>li {flex-basis:9.09099%;max-width:9.09099%;}
ul.box-array.list12>li {flex-basis:8.33339%;max-width:8.33339%;}
@media screen and (max-width:1200px) {
ul.box-array.list-m1>li {flex-basis:100%;max-width:100%;}
ul.box-array.list-m2>li {flex-basis:50%;max-width:50%;}
ul.box-array.list-m3>li {flex-basis:33.33339%;max-width:33.33339%;}
ul.box-array.list-m4>li {flex-basis:25%;max-width:25%;}
ul.box-array.list-m5>li {flex-basis:20%;max-width:20%;}
ul.box-array.list-m6>li {flex-basis:16.66669%;max-width:16.66669%;}
ul.box-array.list-m7>li {flex-basis:14.28572%;max-width:14.28572%;}
ul.box-array.list-m8>li {flex-basis:12.5%;max-width:12.5%;}
ul.box-array.list-m9>li {flex-basis:11.11119%;max-width:11.11119%;}
ul.box-array.list-m10>li {flex-basis:10%;max-width:10%;}
ul.box-array.list-m11>li {flex-basis:9.09099%;max-width:9.09099%;}
ul.box-array.list-m12>li {flex-basis:8.33339%;max-width:8.33339%;}
}
@media screen and (max-width:750px) {
ul.box-array.list-s1>li {flex-basis:100%;max-width:100%;}
ul.box-array.list-s2>li {flex-basis:50%;max-width:50%;}
ul.box-array.list-s3>li {flex-basis:33.33339%;max-width:33.33339%;}
ul.box-array.list-s4>li {flex-basis:25%;max-width:25%;}
ul.box-array.list-s5>li {flex-basis:20%;max-width:20%;}
ul.box-array.list-s6>li {flex-basis:16.66669%;max-width:16.66669%;}
ul.box-array.list-s7>li {flex-basis:14.28572%;max-width:14.28572%;}
ul.box-array.list-s8>li {flex-basis:12.5%;max-width:12.5%;}
ul.box-array.list-s9>li {flex-basis:11.11119%;max-width:11.11119%;}
ul.box-array.list-s10>li {flex-basis:10%;max-width:10%;}
ul.box-array.list-s11>li {flex-basis:9.09099%;max-width:9.09099%;}
ul.box-array.list-s12>li {flex-basis:8.33339%;max-width:8.33339%;}
}
/**--hide--**/
@media screen and (max-width:1200px) {
.show-m {display:block !important;}
.hide-m {display:none !important;}
}
@media screen and (max-width:750px) {
.show-s {display:block !important;}
.hide-s {display:none !important;}
}
/*-----------------------components------------------------*/
/*--panel--*/
.panel {display:flex;flex-direction:column;overflow:hidden;margin-bottom:1.5rem;border-radius:.375rem;background-color:#fff;box-shadow:.1rem .1rem 1rem rgba(0,0,0,.2);color:#333;}
.panel>.title {padding:.75rem 1.5rem;border-bottom:1px solid rgba(0,0,0,.1);text-align:left;font-size:1.25rem;line-height:1.5;}
.panel>ul.title {display:inherit;padding-left:1rem;padding-right:1rem;}
.panel>ul.title>li {padding:.25rem 1rem;border-radius:.375rem;cursor:pointer;}
.panel>ul.title>li.active {background-color:rgba(0,0,0,.05);}
.panel>ul.title.grow>li {flex:auto;text-align:center;}
.panel>.content {padding:1.5rem;text-align:left;}
.panel>ul.content>li {display:none;}
.panel>ul.content>li.active {display:block;}
/*--timeline--*/
ul.timeline {position:relative;display:flex;flex-direction:column;margin-bottom:1.5rem;}
ul.timeline:before {position:absolute;top:0;left:2.625rem;display:block;width:.75rem;height:100%;border-radius:.375rem;background-color:#f2f2f2;content:"";}
ul.timeline>li {position:relative;margin:0 0 1.5rem 6rem;padding:1.5rem;width:calc(100% - 6rem);border-radius:.375rem;background-color:#fff;box-shadow:.1rem .1rem 1rem rgba(0,0,0,.2);color:#333;}
ul.timeline>li:last-of-type {margin-bottom:0;}
ul.timeline>li:before {position:absolute;top:calc(50% - .5rem);left:-.5rem;width:1rem;height:1rem;background-color:inherit;content:"";transform:rotate(45deg);-webkit-transform:rotate(45deg);}
ul.timeline>li>i[data-mark] {position:absolute;top:calc(50% - .75rem);left:-3.75rem;width:1.5rem;height:1.5rem;border-radius:50%;background-color:#333;box-shadow:.1rem .1rem .5rem rgba(0,0,0,.15);}
ul.timeline>li>i[data-mark]:after {display:inline-block;overflow:hidden;margin-top:2rem;margin-left:-1.75rem;width:5rem;max-height:2.75rem;color:#333;content:attr(data-mark);text-align:center;word-wrap:break-word;font-size:.925rem;line-height:1.5;}
ul.timeline>li>i[data-mark].active:before {position:absolute;top:0;left:0;display:inline-block;width:100%;height:100%;border-radius:50%;background-color:inherit;content:"";animation:mark-active 1.5s ease-in-out infinite;-webkit-animation:mark-active 1.5s ease-in-out infinite;}
ul.timeline.right>li {margin:0 6rem 1.5rem 0;}
ul.timeline.right>li:last-of-type {margin-bottom:0;}
ul.timeline.right>li:before {left:auto;right:-.5rem;}
ul.timeline.right>li>i[data-mark] {left:auto;right:-3.75rem;}
ul.timeline.right:before {left:auto;right:2.625rem;}
@keyframes mark-active {from{opacity:.75;}to{opacity:0;transform:scale(2);-webkit-transform:scale(2);}}
@-webkit-keyframes mark-active {from{opacity:.75;}to{opacity:0;transform:scale(2);-webkit-transform:scale(2);}}
/*--button--*/
.btn {display:inline-block;padding:.75rem 2rem;border-radius:.375rem;background-color:#333;box-shadow:.1rem .1rem .5rem rgba(0,0,0,.15);color:#fff;vertical-align:middle;text-align:center;white-space:nowrap;font-size:1.125rem;cursor:pointer;}
.btn:hover {text-shadow:0 0 1.5rem rgba(0,0,0,1);color:#fff;}
.btn.xs {padding:.5rem 1rem;font-size:.925rem;}
.btn.xl {padding:1rem 3rem;font-size:1.25rem;}
.btn.square {border-radius:0;}
.btn.line {display:block;width:100%;}
.btn-group {display:inline-flex;}
.btn-group>.btn {flex:auto;margin:0 0 0 1px !important;}
.btn-group>.btn:not(:first-of-type):not(:last-of-type) {border-radius:0;}
.btn-group>.btn:first-of-type {margin-left:0 !important;border-radius:.375rem 0 0 .375rem;}
.btn-group>.btn:last-of-type {border-radius:0 .375rem .375rem 0;}
.btn-group.vertical {flex-direction:column;}
.btn-group.vertical>.btn {margin:1px 0 0 0 !important;}
.btn-group.vertical>.btn:not(:first-of-type):not(:last-of-type) {border-radius:0;}
.btn-group.vertical>.btn:first-of-type {margin-bottom:0 !important;border-radius:.375rem .375rem 0 0;}
.btn-group.vertical>.btn:last-of-type {border-radius:0 0 .375rem .375rem;}
.btn-group.square>.btn {border-radius:0 !important;}
.btn-group:not(.vertical) {box-shadow:.1rem .1rem .5rem rgba(0,0,0,.15);}
/*--badge--*/
.badge {display:inline-block;padding:.25rem .375rem;border-radius:.375rem;background-color:#333;box-shadow:.1rem .1rem .5rem rgba(0,0,0,.15);color:#fff;vertical-align:baseline;text-align:center;white-space:nowrap;font-size:.875rem;line-height:1;}
.badge.inherit {font-size:60%;}
a.badge:hover {text-shadow:0 0 1rem rgba(0,0,0,1);color:#fff;}
/*--switch--*/
.switch {display:inline-block;margin:.125rem;width:4rem;height:1.75rem;border-radius:1rem;background-color:#333;box-shadow:.1rem .1rem .5rem rgba(0,0,0,.15);vertical-align:middle;text-align:left;cursor:pointer;}
.switch:not(.active) {background-color:#f2f2f2 !important;}
.switch:after {position:relative;top:-.125rem;left:-.125rem;display:inline-block;width:2rem;height:2rem;border-radius:50%;background-color:#fff;box-shadow:.1rem .1rem .5rem rgba(0,0,0,.15);content:"";}
.switch.active:after {left:calc(100% - 1.875rem);}
/*--loading--*/
.loading,
.dialog#HTMLImageElement:not([data-load-complete]):after {display:inline-block;width:3rem;height:3rem;border:.25rem solid currentColor;border-left:.25rem solid rgba(0,0,0,.1);border-radius:50%;color:rgba(0,0,0,.8);content:"";animation:loading-rotate 1s linear infinite;-webkit-animation:loading-rotate 1s linear infinite;}
@keyframes loading-rotate {to{transform:rotate(360deg);-webkit-transform:rotate(360deg);}}
/*--progress--*/
.progress {display:flex;overflow:hidden;margin-bottom:1.5rem;border-radius:.375rem;background-color:#f2f2f2;box-shadow:.1rem .1rem .5rem rgba(0,0,0,.15);}
.progress>span {padding:0 .5rem;min-height:1rem;background-color:rgba(0,0,0,.8);color:#fff;text-align:right;font-weight:bold;font-size:.925rem;line-height:2;}
/**--dropmenu--**/
.dropmenu {position:relative;display:inline-block;vertical-align:middle;}
.dropmenu>span {display:block;font-weight:bold;font-size:1rem;line-height:1.5;cursor:pointer;}
.dropmenu>span:after {display:inline-block;margin-left:.375rem;width:0;height:0;border-top:.375rem solid currentColor;border-right:.25rem solid transparent;border-left:.25rem solid transparent;content:"";vertical-align:middle;}
.dropmenu>ul {position:absolute;top:calc(100% + .5rem);right:0;z-index:1100;visibility:hidden;padding:.5rem 0;border-radius:.25rem;background-color:#fff;box-shadow:.1rem .1rem 1rem rgba(0,0,0,.2);color:#333;opacity:0;}
.dropmenu>ul>li {display:block;padding:.25rem 1rem;text-align:left;white-space:nowrap;font-size:1rem;line-height:1.5;cursor:pointer;}
.dropmenu>ul>li:hover,
.dropmenu>ul>li.active {background-color:rgba(0,0,0,.05);}
.dropmenu:hover>ul {visibility:visible;opacity:1;}
/*--media--*/
.media {margin-bottom:1.5rem;}
.media>.img {margin-bottom:1rem;text-align:center;}
.media>.img img {width:100%;}
.media.left,
.media.right {display:flex;}
.media.left>.img {order:0;flex:1 1 25%;width:25%;margin-top:.375rem;margin-bottom:0;}
.media.right>.img {order:1;flex:1 1 25%;width:25%;margin-top:.375rem;margin-bottom:0;}
.media.left>.content {order:1;flex:1 1 75%;width:75%;padding-left:1.5rem;}
.media.right>.content {order:0;flex:1 1 75%;width:75%;padding-right:1.5rem;}
@media screen and (max-width:1200px) {
.media.left.reset-m,
.media.right.reset-m {flex-direction:column;}
.media.left.reset-m>.img,
.media.right.reset-m>.img {order:0;flex:auto;margin-top:0;margin-bottom:1rem;width:auto;}
.media.left.reset-m>.content {order:1;flex:auto;padding-left:0;width:auto;}
.media.right.reset-m>.content {order:1;flex:auto;padding-right:0;width:auto;}
}
@media screen and (max-width:750px) {
.media.left.reset-s,
.media.right.reset-s {flex-direction:column;}
.media.left.reset-s>.img,
.media.right.reset-s>.img {order:0;flex:auto;margin-top:0;margin-bottom:1rem;width:auto;}
.media.left.reset-s>.content {order:1;flex:auto;padding-left:0;width:auto;}
.media.right.reset-s>.content {order:1;flex:auto;padding-right:0;width:auto;}
}
.media.radius>.img {overflow:hidden;border-radius:.5rem;}
.media.zoom>.img {overflow:hidden;}
.media.zoom>.img:hover img {transform:scale(1.05);-webkit-transform:scale(1.05);}
.media.overlay {position:relative;overflow:hidden;}
.media.overlay>.img {margin-bottom:0;}
.media.overlay>.content {position:absolute;bottom:0;left:0;z-index:10;padding:1.5rem;width:100%;height:100%;}
.media.overlay.radius {border-radius:.5rem;}
.media.overlay.darken>.content {background-color:rgba(0,0,0,.8);}
.media.overlay.fadein>.content {visibility:hidden;opacity:0;}
.media.overlay.fadein:hover>.content {visibility:visible;opacity:1;}
.media.overlay.zoom:hover>.img img {transform:scale(1.05);-webkit-transform:scale(1.05);}
/*--form--*/
input[type="file"] {padding:.485rem 0;font-size:1rem;}
input[type="search"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="radio"],input[type="checkbox"],input[type="range"],input[type="range"]::-webkit-slider-thumb {-webkit-appearance:none;}
input[type=text],input[type="password"],input[type="email"],input[type="url"],input[type="number"],input[type="tel"],input[type="search"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],
textarea,select {padding:.65rem .75rem;min-height:2.7rem;border:1px solid #d7d7d7;border-radius:.375rem;box-shadow:0 .1rem .25rem rgba(0,0,0,.1) inset;color:inherit;font-size:1rem;line-height:1.3;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;}
input[type=text]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="number"]:focus,input[type="tel"]:focus,input[type="search"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="week"]:focus,input[type="time"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,
textarea:focus,select:focus,
input[type=text].active,input[type="password"].active,input[type="email"].active,input[type="url"].active,input[type="number"].active,input[type="tel"].active,input[type="search"].active,input[type="date"].active,input[type="month"].active,input[type="week"].active,input[type="time"].active,input[type="datetime"].active,input[type="datetime-local"].active,
textarea.active,select.active {border-color:rgba(0,0,0,.8);box-shadow:0 .1rem .25rem rgba(0,0,0,.15) inset,0 0 .25rem rgba(0,0,0,.8);}
input[type=text]:disabled,input[type="password"]:disabled,input[type="email"]:disabled,input[type="url"]:disabled,input[type="number"]:disabled,input[type="tel"]:disabled,input[type="search"]:disabled,input[type="date"]:disabled,input[type="month"]:disabled,input[type="week"]:disabled,input[type="time"]:disabled,input[type="datetime"]:disabled,input[type="datetime-local"]:disabled,
textarea:disabled,select:disabled {background-color:#f2f2f2;opacity:.5;}
input[type="radio"],input[type="checkbox"] {position:relative;margin-right:.5rem;border:0;vertical-align:middle;cursor:pointer;}
input[type="radio"]:before,input[type="checkbox"]:before {display:inline-block;width:1.125rem;height:1.125rem;background-color:#fff;box-shadow:0 0 1rem rgba(0,0,0,.2) inset;content:"";}
input[type="radio"]:after,input[type="checkbox"]:after {position:absolute;top:17.5%;left:15%;display:inline-block;visibility:hidden;content:"\e16c";font-style:normal;font-size:.75rem;font-family:Flaticon;line-height:1;}
input[type="radio"]:checked:after,input[type="checkbox"]:checked:after {visibility:visible;}
input[type="radio"]:before {border-radius:50%;}
input[type="checkbox"]:before {border-radius:.25rem;}
input[type="range"] {margin-bottom:.5rem;width:100%;height:1rem;border:0;border-radius:.25rem;background-color:#fff;box-shadow:0 0 1rem rgba(0,0,0,.2) inset;}
input[type="range"]::-webkit-slider-thumb {height:2rem;width:1rem;border:0;border-radius:.25rem;background-color:#fff;box-shadow:0 0 2rem rgba(0,0,0,.5) inset;cursor:pointer;}   
input.notborder {border:0;border-radius:0;box-shadow:none !important;}
textarea {max-height:30rem;min-height:7.5rem;}
select {padding-left:.5rem;padding-right:.5rem;}
select:not([multiple]) {height:2.7rem;}
select.line {margin:0;width:100%;}
label {display:inline-block;margin:0 1rem 1rem 0;font-size:1rem;line-height:1.5;cursor:pointer;}
label>[type="radio"],
label>[type="checkbox"] {width:auto !important;height:auto !important;}
label>p {margin:.375rem 0 0 1.35rem;color:#999;text-align:left;word-wrap:break-word;font-size:.925rem;line-height:1.5;}
label.line {display:block;margin:0 0 .75rem 0;}
label.line:last-of-type {margin-bottom:1rem;}
ul.form {font-size:medium;}
ul.form>li {display:inline-flex;align-items:center;margin-right:1rem;margin-bottom:1rem;font-size:medium;}
ul.form>li:last-of-type {margin-bottom:1.5rem;}
ul.form>li>span {padding-right:1rem;word-wrap:break-word;font-weight:bold;font-size:1rem;line-height:1.5;}
ul.form>li>div {text-align:left;}
ul.form>li>div>p {margin:.375rem 0 0 0;color:#999;text-align:left;word-wrap:break-word;font-size:.925rem;line-height:1.5;}
ul.form>li>div>label:not(.line) {margin:.5rem 1rem .5rem 0;}
ul.form>li>div>label:not(.line):last-of-type {margin-right:0;}
ul.form>li>div>label.line:first-of-type {margin-top:.5rem;}
ul.form>li>div>label.line:last-of-type {margin-bottom:.5rem;}
ul.form>li>div>input,
ul.form>li>div>textarea {width:100%;max-width:100%;}
ul.form>li>div>select:not(:first-of-type) {margin-left:1rem;}
ul.form>li>div>select.line {margin-right:0;}
ul.form>li>div.text {padding-top:.5rem;text-align:left;word-wrap:break-word;font-size:1rem;line-height:1.5;}
ul.form>li>div.icon {position:relative;}
ul.form>li>div.icon>i {position:absolute;top:.85rem;left:.85rem;font-size:1rem;}
ul.form>li>div.icon>input {padding-left:2.5rem;width:100%;}
ul.form.ratio60>li,ul.form.ratio70>li,ul.form.ratio80>li,ul.form.ratio90>li {display:flex;justify-content:flex-end;margin-right:0;padding-right:0;padding-left:0;width:100%;}
ul.form.ratio60>li>span {flex-basis:40%;max-width:40%;}
ul.form.ratio60>li>div {flex-basis:60%;max-width:60%;}
ul.form.ratio70>li>span {flex-basis:30%;max-width:30%;}
ul.form.ratio70>li>div {flex-basis:70%;max-width:70%;}
ul.form.ratio80>li>span {flex-basis:20%;max-width:20%;}
ul.form.ratio80>li>div {flex-basis:80%;max-width:80%;}
ul.form.ratio90>li>span {flex-basis:10%;max-width:10%;}
ul.form.ratio90>li>div {flex-basis:90%;max-width:90%;}
ul.form.ratio100>li {display:flex;flex-direction:column;align-items:stretch;margin-right:0;padding-right:0;padding-left:0;width:100%;text-align:left;}
ul.form.ratio100>li>span {padding-right:0;padding-bottom:.5rem;}
ul.form.ratio100>li>div {max-width:none;}
@media screen and (max-width:1200px) {
ul.form.ratio-m100>li {display:flex;flex-direction:column;align-items:stretch;margin-right:0;padding-right:0;padding-left:0;width:100%;text-align:left;}
ul.form.ratio-m100>li>span {flex-basis:auto;padding-right:0;padding-bottom:.5rem;max-width:none;}
ul.form.ratio-m100>li>div {flex-basis:auto;max-width:none;}
}
@media screen and (max-width:750px) {
ul.form.ratio-s100>li {display:flex;flex-direction:column;align-items:stretch;margin-right:0;padding-right:0;padding-left:0;width:100%;text-align:left;}
ul.form.ratio-s100>li>span {flex-basis:auto;padding-right:0;padding-bottom:.5rem;max-width:none;}
ul.form.ratio-s100>li>div {flex-basis:auto;max-width:none;}
}
/*--table--*/
.table {margin-bottom:1.5rem;width:100%;max-width:100%;}
.table thead tr {border-bottom:.15rem solid rgba(0,0,0,.1);background-color:rgba(0,0,0,.05);}
.table thead tr th {padding:1rem .75rem;text-align:left;line-height:1.5;}
.table tbody tr td {padding:.75rem;border-bottom:1px solid rgba(0,0,0,.1);vertical-align:middle;line-height:1.5;}
.table.border thead tr th,
.table.border tbody tr td {border:1px solid rgba(0,0,0,.1);}
.table.notborder thead tr th,
.table.notborder tbody tr td {border:0;}
.table.striped tbody tr:nth-of-type(even),
.table.hover tbody tr:hover {background-color:rgba(0,0,0,.05);}
.table-scroll {margin-bottom:1.5rem;width:100%;}
.table-scroll.nowrap .table thead tr th,
.table-scroll.nowrap .table tbody tr td {white-space:nowrap;}
/**--menu--**/
.menu {background-color:#fff;color:#333;}
.menu>div {position:relative;padding:1.125rem 1rem;font-size:1.25rem;line-height:1.25;cursor:pointer;}
.menu>div>ul {position:absolute;z-index:1100;visibility:hidden;padding:.5rem 0;min-width:10rem;background-color:#fff;box-shadow:.1rem .1rem 1rem rgba(0,0,0,.2);color:#333;opacity:0;}
.menu>div>ul>li {padding:.25rem 1rem;text-align:left;white-space:nowrap;font-size:1rem;line-height:1.5;cursor:pointer;}
.menu>div>ul>li:hover,
.menu>div>ul>li.active,
.menu>div:hover,
.menu>div.active {background-color:rgba(0,0,0,.05);}
.menu>div:not(.notlist):after {display:inline-block;color:inherit;vertical-align:middle;text-indent:0;font-style:normal;font-size:.75rem;font-family:Flaticon;line-height:1;opacity:.75;}
.menu>div:hover>ul {visibility:visible;opacity:1;}
.menu.row {display:inline-flex;box-shadow:.1rem .1rem .5rem rgba(0,0,0,.15);}
.menu.row>div {border-right:1px solid rgba(0,0,0,.1);text-align:center;white-space:nowrap;}
.menu.row>div:last-of-type {border-right:0;}
.menu.row>div>ul {top:50%;left:0;}
.menu.row>div:hover>ul {top:100%;}
.menu.row>div:not(.notlist):after {margin-left:.75rem;content:"\e06c";}
.menu.row.grow {display:flex;}
.menu.row.grow>div {flex:auto;}
.menu.column {display:flex;flex-direction:column;margin-bottom:1.5rem;box-shadow:.1rem .1rem 1rem rgba(0,0,0,.2);}
.menu.column>div {border-bottom:1px solid rgba(0,0,0,.1);text-align:left;}
.menu.column>div:last-of-type {border-bottom:0;}
.menu.column>div>ul {top:0;left:85%;}
.menu.column>div:not(.notlist):after {float:right;margin:.375rem 0 0 0;content:"\e119";}
.menu.column>div:hover>ul {left:100%;}
/*--carousel--*/
.carousel {position:relative;overflow-x:hidden;margin-bottom:1.5rem;}
.carousel>ul.content {display:flex;transition:all .5s;-webkit-transition:all .5s;}
.carousel>ul.content>li {position:relative;display:flex;flex-direction:column;justify-content:center;min-width:100%;}
.carousel>ul.content>li[data-title]:after {position:absolute;left:0;bottom:0;z-index:10;padding:1.5rem;width:100%;background-image:linear-gradient(to bottom,transparent,rgba(0,0,0,0.5));background-image:-webkit-linear-gradient(top,transparent,rgba(0,0,0,0.5));color:#fff;content:attr(data-title);text-align:center;font-size:1.5rem;}
.carousel>ul.nav {display:flex;justify-content:center;margin-top:1rem;}
.carousel>ul.nav>li {display:inline-block;margin:0 .15rem;width:1rem;height:1rem;border-radius:50%;box-shadow:0 0 1rem rgba(0,0,0,0.5) inset;cursor:pointer;transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;}
.carousel>ul.nav>li:hover,
.carousel>ul.nav>li.active {box-shadow:0 0 1rem rgba(0,0,0,1) inset;}
/*--message--*/
.message {position:relative;margin-bottom:1.5rem;padding:.75rem 1rem;border-radius:.375rem;background-color:#fff;box-shadow:.1rem .1rem .5rem rgba(0,0,0,.15);color:#333;text-align:left;font-size:1rem;line-height:1.75;}
.message a:not(.btn) {text-decoration:underline;}
.message.fade {order:10000;visibility:hidden;opacity:0;pointer-events:auto;}
.message.fade.active {order:-1;visibility:visible;opacity:1;}
[data-message-container] {position:fixed;top:1.5rem;left:1.5rem;z-index:10000;display:flex;flex-direction:column;align-items:center;width:calc(100% - 3rem);max-height:calc(100% - 3rem);pointer-events:none;}
/**--drawer--**/
.drawer {position:fixed;top:0;left:0;z-index:11000;visibility:hidden;width:100%;height:100%;max-height:100%;background-color:rgba(0,0,0,.8);opacity:0;}
.drawer.notmask {z-index:10000;background-color:transparent;}
.drawer>.content {position:absolute;padding:2rem;background-color:#fff;box-shadow:0 0 1rem rgba(0,0,0,.2);color:#333;}
.drawer.top>.content,
.drawer.bottom>.content {left:0;width:100%;max-height:60%;}
.drawer.left>.content,
.drawer.right>.content {top:0;height:100%;max-width:60%;}
.drawer.top>.content {top:0;transform:translateY(-100%);-webkit-transform:translateY(-100%);}
.drawer.bottom>.content {bottom:0;transform:translateY(100%);-webkit-transform:translateY(100%);}
.drawer.left>.content {left:0;transform:translateX(-100%);-webkit-transform:translateX(-100%);}
.drawer.right>.content {right:0;transform:translateX(100%);-webkit-transform:translateX(100%);}
.drawer.active {visibility:visible;opacity:1;}
.drawer.top.active>.content,
.drawer.bottom.active>.content {transform:translateY(0);-webkit-transform:translateY(0);}
.drawer.left.active>.content,
.drawer.right.active>.content {transform:translateX(0);-webkit-transform:translateX(0);}
@media screen and (max-width:750px) {
.drawer.top>.content,
.drawer.bottom>.content {max-height:80%;}
.drawer.left>.content,
.drawer.right>.content {max-width:80%;}
}
/*--dialog--*/
.dialog {position:fixed;top:0;left:0;z-index:11001;display:flex;flex-direction:column;justify-content:center;align-items:center;visibility:hidden;padding:2.5rem 17.5%;width:100%;height:100%;max-height:100%;background-color:rgba(0,0,0,.8);opacity:0;}
.dialog.active {visibility:visible;opacity:1;}
.dialog.notmask {z-index:10001;background-color:transparent;}
.dialog>img {max-height:100%;box-shadow:.1rem .1rem 1rem rgba(0,0,0,.2);}
.dialog>.content {padding:2rem;min-width:35rem;max-width:100%;border-radius:.375rem;background-color:#fff;box-shadow:.1rem .1rem 1rem rgba(0,0,0,.2);color:#333;text-align:left;}
.dialog#HTMLImageElement:not([data-load-complete]):after {color:#999;}
.dialog#HTMLImageElement:not([data-load-complete])>img {display:none;}
@media screen and (max-width:750px) {
.dialog {padding-left:12.5%;padding-right:12.5%;}
.dialog>.content {min-width:100%;}
}
/*--tooltip--*/
[data-tooltip] {position:relative;cursor:pointer;}
[data-tooltip]:before,
[data-tooltip]:after {position:absolute;z-index:1200;visibility:hidden;opacity:0;cursor:default;}
[data-tooltip]:after {padding:.375rem .5rem;border-radius:.25rem;background-color:rgba(0,0,0,.8);box-shadow:.1rem .1rem .5rem rgba(0,0,0,.15);color:#fff;content:attr(data-text);text-align:left;white-space:nowrap;word-wrap:break-word;word-break:normal;font-size:.925rem;line-height:1.5;}
[data-tooltip="top"]:after {bottom:calc(100% + 1rem);left:calc(50% - 1rem);}
[data-tooltip="top"]:before {bottom:calc(100% + .5rem);left:calc(50% - .5rem);border-top:.5rem solid rgba(0,0,0,.8);border-right:.5rem solid transparent;border-left:.5rem solid transparent;content:"";}
[data-tooltip="bottom"]:after {top:calc(100% + 1rem);left:calc(50% - 1rem);}
[data-tooltip="bottom"]:before {top:calc(100% + .5rem);left:calc(50% - .5rem);border-right:.5rem solid transparent;border-bottom:.5rem solid rgba(0,0,0,.8);border-left:.5rem solid transparent;content:"";}
[data-tooltip="left"]:after {top:calc(50% - 1rem);right:calc(100% + 1rem);}
[data-tooltip="left"]:before {top:calc(50% - .5rem);right:calc(100% + .5rem);border-top:.5rem solid transparent;border-bottom:.5rem solid transparent;border-left:.5rem solid rgba(0,0,0,.8);content:"";}
[data-tooltip="right"]:after {top:calc(50% - 1rem);left:calc(100% + 1rem);}
[data-tooltip="right"]:before {top:calc(50% - .5rem);left:calc(100% + .5rem);border-top:.5rem solid transparent;border-right:.5rem solid rgba(0,0,0,.8);border-bottom:.5rem solid transparent;content:"";}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {visibility:visible;opacity:1;}
/*--mask--*/
[data-mask] {position:relative;}
[data-mask]>.mask {position:absolute;top:0;left:0;z-index:1000;display:flex;flex-direction:column;justify-content:center;align-items:center;visibility:hidden;padding:1rem;width:100%;height:100%;background-color:rgba(0,0,0,.8);color:#fff;text-align:center;opacity:0;}
[data-mask]>.mask.active {visibility:visible;opacity:1;}
@keyframes loading-rotate {to{transform:rotate(360deg);-webkit-transform:rotate(360deg);}}
/*--scrollbar--*/
[data-scrollbar] {overflow:auto;-webkit-overflow-scrolling:touch;}
[data-scrollbar]::-webkit-scrollbar {width:.75rem;}
[data-scrollbar]::-webkit-scrollbar-thumb {border-radius:.25rem;background-color:rgba(0,0,0,.05);box-shadow:0 0 .25rem rgba(0,0,0,.1) inset;}
[data-scrollbar]::-webkit-scrollbar-track {box-shadow:0 0 .25rem rgba(0,0,0,.1) inset;}
/*--icon--*/
@font-face {font-weight:normal;font-style:normal;font-family:"Flaticon";src:url("./src/flaticon.eot") format("embedded-opentype"), url("./src/flaticon.ttf") format("truetype");}
[class^="flaticon-"]:before,[class*="flaticon-"]:before,
[class^="flaticon-"]:after,[class*="flaticon-"]:after {font-style:normal;font-family:Flaticon;}
[class^="flaticon-"],[class*="flaticon-"] {display:inline-block;vertical-align:baseline;line-height:1;}
.flaticon-acrobat1:before{content:"\e000";}.flaticon-add164:before{content:"\e001";}.flaticon-adding6:before{content:"\e002";}.flaticon-alarm40:before{content:"\e003";}.flaticon-analogic4:before{content:"\e004";}.flaticon-anchor33:before{content:"\e005";}.flaticon-archive22:before{content:"\e006";}.flaticon-arroba15:before{content:"\e007";}.flaticon-arrow605:before{content:"\e008";}.flaticon-arrow606:before{content:"\e009";}.flaticon-arrow607:before{content:"\e00a";}.flaticon-arrow608:before{content:"\e00b";}.flaticon-ascending19:before{content:"\e00c";}.flaticon-attachment18:before{content:"\e00d";}.flaticon-audio49:before{content:"\e00e";}.flaticon-audio50:before{content:"\e00f";}.flaticon-audio51:before{content:"\e010";}.flaticon-back50:before{content:"\e011";}.flaticon-bag34:before{content:"\e012";}.flaticon-binary9:before{content:"\e013";}.flaticon-black388:before{content:"\e014";}.flaticon-black389:before{content:"\e015";}.flaticon-black390:before{content:"\e016";}.flaticon-black391:before{content:"\e017";}.flaticon-black392:before{content:"\e018";}.flaticon-black393:before{content:"\e019";}.flaticon-blackboard13:before{content:"\e01a";}.flaticon-blackboard14:before{content:"\e01b";}.flaticon-book194:before{content:"\e01c";}.flaticon-book195:before{content:"\e01d";}.flaticon-bookmark37:before{content:"\e01e";}.flaticon-bookmarked5:before{content:"\e01f";}.flaticon-broken40:before{content:"\e020";}.flaticon-broken41:before{content:"\e021";}.flaticon-bug17:before{content:"\e022";}.flaticon-burn6:before{content:"\e023";}.flaticon-business167:before{content:"\e024";}.flaticon-calendar147:before{content:"\e025";}.flaticon-car124:before{content:"\e026";}.flaticon-card29:before{content:"\e027";}.flaticon-cascade3:before{content:"\e028";}.flaticon-cat48:before{content:"\e029";}.flaticon-cat49:before{content:"\e02a";}.flaticon-centered5:before{content:"\e02b";}.flaticon-chat60:before{content:"\e02c";}.flaticon-chat61:before{content:"\e02d";}.flaticon-checked18:before{content:"\e02e";}.flaticon-checked19:before{content:"\e02f";}.flaticon-cinema34:before{content:"\e030";}.flaticon-circular237:before{content:"\e031";}.flaticon-circular238:before{content:"\e032";}.flaticon-circular239:before{content:"\e033";}.flaticon-clapper4:before{content:"\e034";}.flaticon-clipboard85:before{content:"\e035";}.flaticon-clock88:before{content:"\e036";}.flaticon-clock89:before{content:"\e037";}.flaticon-cloud285:before{content:"\e038";}.flaticon-cloud287:before{content:"\e039";}.flaticon-code33:before{content:"\e03a";}.flaticon-code34:before{content:"\e03b";}.flaticon-commercial28:before{content:"\e03c";}.flaticon-commercial29:before{content:"\e03d";}.flaticon-computer161:before{content:"\e03e";}.flaticon-connection20:before{content:"\e03f";}.flaticon-console9:before{content:"\e040";}.flaticon-contacts12:before{content:"\e041";}.flaticon-contrast22:before{content:"\e042";}.flaticon-contrast23:before{content:"\e043";}.flaticon-copy29:before{content:"\e044";}.flaticon-credit82:before{content:"\e045";}.flaticon-credit83:before{content:"\e046";}.flaticon-cross87:before{content:"\e047";}.flaticon-cross88:before{content:"\e048";}.flaticon-cross89:before{content:"\e049";}.flaticon-cube30:before{content:"\e04a";}.flaticon-curved24:before{content:"\e04b";}.flaticon-database44:before{content:"\e04c";}.flaticon-database45:before{content:"\e04d";}.flaticon-descending11:before{content:"\e04e";}.flaticon-descending12:before{content:"\e04f";}.flaticon-design23:before{content:"\e050";}.flaticon-design24:before{content:"\e051";}.flaticon-design25:before{content:"\e052";}.flaticon-design26:before{content:"\e053";}.flaticon-diamond34:before{content:"\e054";}.flaticon-dice16:before{content:"\e055";}.flaticon-directional13:before{content:"\e056";}.flaticon-disabled3:before{content:"\e057";}.flaticon-disc26:before{content:"\e058";}.flaticon-diskette9:before{content:"\e059";}.flaticon-dollar159:before{content:"\e05a";}.flaticon-double104:before{content:"\e05b";}.flaticon-double105:before{content:"\e05c";}.flaticon-double106:before{content:"\e05d";}.flaticon-double107:before{content:"\e05e";}.flaticon-double108:before{content:"\e05f";}.flaticon-double109:before{content:"\e060";}.flaticon-double110:before{content:"\e061";}.flaticon-double111:before{content:"\e062";}.flaticon-down78:before{content:"\e063";}.flaticon-down79:before{content:"\e064";}.flaticon-down80:before{content:"\e065";}.flaticon-down81:before{content:"\e066";}.flaticon-down82:before{content:"\e067";}.flaticon-down83:before{content:"\e068";}.flaticon-down84:before{content:"\e069";}.flaticon-down85:before{content:"\e06a";}.flaticon-down86:before{content:"\e06b";}.flaticon-down87:before{content:"\e06c";}.flaticon-download151:before{content:"\e06d";}.flaticon-download152:before{content:"\e06e";}.flaticon-dreaming1:before{content:"\e06f";}.flaticon-ebook14:before{content:"\e070";}.flaticon-eject22:before{content:"\e071";}.flaticon-eject23:before{content:"\e072";}.flaticon-email89:before{content:"\e073";}.flaticon-equal4:before{content:"\e074";}.flaticon-exchanging2:before{content:"\e075";}.flaticon-exclamation26:before{content:"\e076";}.flaticon-exlamation:before{content:"\e077";}.flaticon-eye102:before{content:"\e078";}.flaticon-fast37:before{content:"\e079";}.flaticon-favourites7:before{content:"\e07a";}.flaticon-file74:before{content:"\e07b";}.flaticon-file75:before{content:"\e07c";}.flaticon-fill1:before{content:"\e07d";}.flaticon-filter18:before{content:"\e07e";}.flaticon-fire36:before{content:"\e07f";}.flaticon-first42:before{content:"\e080";}.flaticon-first44:before{content:"\e081";}.flaticon-flag62:before{content:"\e082";}.flaticon-flag63:before{content:"\e083";}.flaticon-flag64:before{content:"\e084";}.flaticon-focus9:before{content:"\e085";}.flaticon-folder203:before{content:"\e086";}.flaticon-folder204:before{content:"\e087";}.flaticon-folder205:before{content:"\e088";}.flaticon-footprint14:before{content:"\e089";}.flaticon-forefinger2:before{content:"\e08a";}.flaticon-forefinger3:before{content:"\e08b";}.flaticon-four89:before{content:"\e08c";}.flaticon-four90:before{content:"\e08d";}.flaticon-four91:before{content:"\e08e";}.flaticon-four92:before{content:"\e08f";}.flaticon-games33:before{content:"\e090";}.flaticon-gear31:before{content:"\e091";}.flaticon-global30:before{content:"\e092";}.flaticon-global31:before{content:"\e093";}.flaticon-graduate27:before{content:"\e094";}.flaticon-hand144:before{content:"\e095";}.flaticon-hand145:before{content:"\e096";}.flaticon-hand146:before{content:"\e097";}.flaticon-happy48:before{content:"\e098";}.flaticon-headphones34:before{content:"\e099";}.flaticon-home140:before{content:"\e09a";}.flaticon-home141:before{content:"\e09b";}.flaticon-hr:before{content:"\e09c";}.flaticon-image75:before{content:"\e09d";}.flaticon-image76:before{content:"\e09e";}.flaticon-images24:before{content:"\e09f";}.flaticon-infinite7:before{content:"\e0a0";}.flaticon-information58:before{content:"\e0a1";}.flaticon-information59:before{content:"\e0a2";}.flaticon-interface48:before{content:"\e0a3";}.flaticon-interface49:before{content:"\e0a4";}.flaticon-interface50:before{content:"\e0a5";}.flaticon-interface51:before{content:"\e0a6";}.flaticon-interface52:before{content:"\e0a7";}.flaticon-invisible2:before{content:"\e0a8";}.flaticon-italic8:before{content:"\e0a9";}.flaticon-jar18:before{content:"\e0aa";}.flaticon-keyboard50:before{content:"\e0ab";}.flaticon-keyboard51:before{content:"\e0ac";}.flaticon-last13:before{content:"\e0ad";}.flaticon-last14:before{content:"\e0ae";}.flaticon-left176:before{content:"\e0af";}.flaticon-left177:before{content:"\e0b0";}.flaticon-left178:before{content:"\e0b1";}.flaticon-left179:before{content:"\e0b2";}.flaticon-left180:before{content:"\e0b3";}.flaticon-left181:before{content:"\e0b4";}.flaticon-left182:before{content:"\e0b5";}.flaticon-less13:before{content:"\e0b6";}.flaticon-letter51:before{content:"\e0b7";}.flaticon-letter52:before{content:"\e0b8";}.flaticon-libra11:before{content:"\e0b9";}.flaticon-library13:before{content:"\e0ba";}.flaticon-library14:before{content:"\e0bb";}.flaticon-lifeline15:before{content:"\e0bc";}.flaticon-lightbulb46:before{content:"\e0bd";}.flaticon-lighter:before{content:"\e0be";}.flaticon-lightning20:before{content:"\e0bf";}.flaticon-like60:before{content:"\e0c0";}.flaticon-links7:before{content:"\e0c1";}.flaticon-liquid12:before{content:"\e0c2";}.flaticon-list76:before{content:"\e0c3";}.flaticon-locked44:before{content:"\e0c4";}.flaticon-logout13:before{content:"\e0c5";}.flaticon-magic17:before{content:"\e0c6";}.flaticon-magnet13:before{content:"\e0c7";}.flaticon-mail79:before{content:"\e0c8";}.flaticon-male237:before{content:"\e0c9";}.flaticon-man435:before{content:"\e0ca";}.flaticon-man440:before{content:"\e0cb";}.flaticon-man442:before{content:"\e0cc";}.flaticon-map93:before{content:"\e0cd";}.flaticon-map94:before{content:"\e0ce";}.flaticon-mask8:before{content:"\e0cf";}.flaticon-menu48:before{content:"\e0d0";}.flaticon-message10:before{content:"\e0d1";}.flaticon-message9:before{content:"\e0d2";}.flaticon-metro4:before{content:"\e0d3";}.flaticon-microphone78:before{content:"\e0d4";}.flaticon-microphone79:before{content:"\e0d5";}.flaticon-microphone80:before{content:"\e0d6";}.flaticon-microscope19:before{content:"\e0d7";}.flaticon-minus92:before{content:"\e0d8";}.flaticon-minus93:before{content:"\e0d9";}.flaticon-mobile219:before{content:"\e0da";}.flaticon-more17:before{content:"\e0db";}.flaticon-more18:before{content:"\e0dc";}.flaticon-mouse43:before{content:"\e0dd";}.flaticon-mouse44:before{content:"\e0de";}.flaticon-music228:before{content:"\e0df";}.flaticon-musical105:before{content:"\e0e0";}.flaticon-mute35:before{content:"\e0e1";}.flaticon-new90:before{content:"\e0e2";}.flaticon-note45:before{content:"\e0e3";}.flaticon-notebook59:before{content:"\e0e4";}.flaticon-notebook60:before{content:"\e0e5";}.flaticon-numbered7:before{content:"\e0e6";}.flaticon-opposite4:before{content:"\e0e7";}.flaticon-paint62:before{content:"\e0e8";}.flaticon-paint63:before{content:"\e0e9";}.flaticon-paintbrush11:before{content:"\e0ea";}.flaticon-paperclip24:before{content:"\e0eb";}.flaticon-paragraph18:before{content:"\e0ec";}.flaticon-password14:before{content:"\e0ed";}.flaticon-password15:before{content:"\e0ee";}.flaticon-pause40:before{content:"\e0ef";}.flaticon-pause41:before{content:"\e0f0";}.flaticon-pen63:before{content:"\e0f1";}.flaticon-pencil90:before{content:"\e0f2";}.flaticon-pencil91:before{content:"\e0f3";}.flaticon-pencil92:before{content:"\e0f4";}.flaticon-pencil93:before{content:"\e0f5";}.flaticon-person311:before{content:"\e0f6";}.flaticon-personal29:before{content:"\e0f7";}.flaticon-photo190:before{content:"\e0f8";}.flaticon-photogram2:before{content:"\e0f9";}.flaticon-picture28:before{content:"\e0fa";}.flaticon-pin44:before{content:"\e0fb";}.flaticon-pin45:before{content:"\e0fc";}.flaticon-placeholder24:before{content:"\e0fd";}.flaticon-play87:before{content:"\e0fe";}.flaticon-plug32:before{content:"\e0ff";}.flaticon-plus75:before{content:"\e100";}.flaticon-plus76:before{content:"\e101";}.flaticon-point12:before{content:"\e102";}.flaticon-portfolio28:before{content:"\e103";}.flaticon-portfolio29:before{content:"\e104";}.flaticon-power100:before{content:"\e105";}.flaticon-presentation14:before{content:"\e106";}.flaticon-printer85:before{content:"\e107";}.flaticon-prize2:before{content:"\e108";}.flaticon-prohibition18:before{content:"\e109";}.flaticon-puzzle33:before{content:"\e10a";}.flaticon-question49:before{content:"\e10b";}.flaticon-question50:before{content:"\e10c";}.flaticon-rectangular79:before{content:"\e10d";}.flaticon-reply17:before{content:"\e10e";}.flaticon-returning4:before{content:"\e10f";}.flaticon-rewind39:before{content:"\e110";}.flaticon-rewind40:before{content:"\e111";}.flaticon-right173:before{content:"\e112";}.flaticon-right174:before{content:"\e113";}.flaticon-right175:before{content:"\e114";}.flaticon-right176:before{content:"\e115";}.flaticon-right177:before{content:"\e116";}.flaticon-right178:before{content:"\e117";}.flaticon-right179:before{content:"\e118";}.flaticon-right180:before{content:"\e119";}.flaticon-right181:before{content:"\e11a";}.flaticon-right182:before{content:"\e11b";}.flaticon-right183:before{content:"\e11c";}.flaticon-right184:before{content:"\e11d";}.flaticon-right185:before{content:"\e11e";}.flaticon-robot34:before{content:"\e11f";}.flaticon-rocket66:before{content:"\e120";}.flaticon-royal162:before{content:"\e121";}.flaticon-rss45:before{content:"\e122";}.flaticon-rss46:before{content:"\e123";}.flaticon-ruler22:before{content:"\e124";}.flaticon-sad64:before{content:"\e125";}.flaticon-sand16:before{content:"\e126";}.flaticon-search86:before{content:"\e127";}.flaticon-send11:before{content:"\e128";}.flaticon-settings46:before{content:"\e129";}.flaticon-shield84:before{content:"\e12a";}.flaticon-shopping205:before{content:"\e12b";}.flaticon-shopping206:before{content:"\e12c";}.flaticon-slash4:before{content:"\e12d";}.flaticon-smiling58:before{content:"\e12e";}.flaticon-speech103:before{content:"\e12f";}.flaticon-speed10:before{content:"\e130";}.flaticon-speedometer32:before{content:"\e131";}.flaticon-sport15:before{content:"\e132";}.flaticon-squirrel4:before{content:"\e133";}.flaticon-star161:before{content:"\e134";}.flaticon-statistics8:before{content:"\e135";}.flaticon-step5:before{content:"\e136";}.flaticon-stop40:before{content:"\e137";}.flaticon-stop41:before{content:"\e138";}.flaticon-straight19:before{content:"\e139";}.flaticon-sunny14:before{content:"\e13a";}.flaticon-switch26:before{content:"\e13b";}.flaticon-tablet87:before{content:"\e13c";}.flaticon-tag63:before{content:"\e13d";}.flaticon-tag64:before{content:"\e13e";}.flaticon-team2:before{content:"\e13f";}.flaticon-telescope10:before{content:"\e140";}.flaticon-text130:before{content:"\e141";}.flaticon-text131:before{content:"\e142";}.flaticon-text132:before{content:"\e143";}.flaticon-three156:before{content:"\e144";}.flaticon-three157:before{content:"\e145";}.flaticon-three158:before{content:"\e146";}.flaticon-ticket12:before{content:"\e147";}.flaticon-tower19:before{content:"\e148";}.flaticon-triangle34:before{content:"\e149";}.flaticon-triangular52:before{content:"\e14a";}.flaticon-triangular53:before{content:"\e14b";}.flaticon-triple21:before{content:"\e14c";}.flaticon-trophy64:before{content:"\e14d";}.flaticon-truck39:before{content:"\e14e";}.flaticon-tuning1:before{content:"\e14f";}.flaticon-turning2:before{content:"\e150";}.flaticon-two344:before{content:"\e151";}.flaticon-two345:before{content:"\e152";}.flaticon-two346:before{content:"\e153";}.flaticon-two347:before{content:"\e154";}.flaticon-two348:before{content:"\e155";}.flaticon-two349:before{content:"\e156";}.flaticon-two350:before{content:"\e157";}.flaticon-two351:before{content:"\e158";}.flaticon-unblocked:before{content:"\e159";}.flaticon-underlined4:before{content:"\e15a";}.flaticon-up130:before{content:"\e15b";}.flaticon-up131:before{content:"\e15c";}.flaticon-up132:before{content:"\e15d";}.flaticon-up133:before{content:"\e15e";}.flaticon-up134:before{content:"\e15f";}.flaticon-up135:before{content:"\e160";}.flaticon-up136:before{content:"\e161";}.flaticon-up137:before{content:"\e162";}.flaticon-upload101:before{content:"\e163";}.flaticon-upload102:before{content:"\e164";}.flaticon-upload103:before{content:"\e165";}.flaticon-upload104:before{content:"\e166";}.flaticon-uploading12:before{content:"\e167";}.flaticon-upper10:before{content:"\e168";}.flaticon-upper11:before{content:"\e169";}.flaticon-upper9:before{content:"\e16a";}.flaticon-user151:before{content:"\e16b";}.flaticon-verification16:before{content:"\e16c";}.flaticon-visible7:before{content:"\e16d";}.flaticon-voice27:before{content:"\e16e";}.flaticon-wallet28:before{content:"\e16f";}.flaticon-warning30:before{content:"\e170";}.flaticon-warning31:before{content:"\e171";}.flaticon-warning32:before{content:"\e172";}.flaticon-web35:before{content:"\e173";}.flaticon-window52:before{content:"\e174";}.flaticon-zipped1:before{content:"\e175";}
/*-----------------------reset------------------------*/
.panel>ul.title>li,.btn,.badge,.switch,.switch:after,.progress>span,.dropmenu>ul,.dropmenu>ul>li,.media>.img img,.media.overlay.fadein>.content,.menu>div,.menu>div>ul,.menu>div>ul>li,[data-tooltip]:before,[data-tooltip]:after {transition:all .2s;-webkit-transition:all .2s;}
.message.fade,.drawer,.dialog,.drawer>.content,[data-mask]>.mask {transition:all .3s;-webkit-transition:all .3s;}
[data-move-panel],[data-open-message],[data-close-message],[data-open-drawer],[data-close-drawer],[data-open-dialog],[data-close-dialog],[data-open-mask],[data-close-mask] {cursor:pointer;}
[data-move-panel] *,[data-open-message] *,[data-close-message] *,[data-open-drawer] *,[data-close-drawer] *,[data-open-dialog] *,[data-close-dialog] *,[data-open-mask] *,[data-close-mask] *,
.drawer.notmask,.dialog.notmask {pointer-events:none;}
.drawer.notmask>.content,.dialog.notmask>.content {pointer-events:auto;}
label.disabled,.panel>ul.title>li.disabled,.btn.disabled,.switch.disabled,.dropmenu>ul>li.disabled,.menu>div.disabled,.menu>div>ul>li.disabled {opacity:.5;cursor:default;pointer-events:none;}
.panel>ul.title,.btn-group:not(.vertical),.table-scroll {overflow-x:auto;max-width:100%;-webkit-overflow-scrolling:touch;}
ul.timeline>li>i[data-mark],.btn,.badge,[data-tooltip]:after {text-decoration:none;text-indent:0;text-transform:none;text-shadow:none;word-spacing:normal;letter-spacing:normal;font-weight:normal;font-style:normal;text-rendering:auto;}
.switch,.progress>span,.media>.img,ul.form>li,[class^="flaticon-"],[class*=" flaticon-"] {text-indent:0;}
.panel,ul.timeline,.btn,.switch,.dropmenu,.media>.img,ul.form,ul.form>li {line-height:normal;}
p:last-child,.p:last-child,address:last-child,blockquote:last-child,
ul.basic:last-child,ol.basic:last-child,dl.basic:last-child,
ul.basic li:last-of-type,ol.basic li:last-of-type,dl.basic dd:last-of-type,
ul.basic label,ol.basic label,dl.basic label,.table label,.table-scroll .table {margin-bottom:0;}
.wrapper:after,.header:after,.main:after,.footer:after,.shell:after {clear:both;display:table;content:"";line-height:0;}